@import "tailwindcss";

@font-face {
  font-family: "morraba";
  src: url(/fonts/Morabba/woff2/Morabba-Medium.woff2);
  font-display: swap;
}
@font-face {
  font-family: "dana";
  src: url(/fonts/Dana/woff2/DanaFaNum-Regular.woff2);
  font-display: swap;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-image: url(/images/wallpaper.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}

@theme {
  --font-morraba: "morraba";
  --font-dana: "dana";
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden relative;
  }

  nav {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    @apply flex justify-between
      items-center bg-white/20 px-5 select-none;

    div {
      @apply flex items-center gap-5;
    }

    ul {
      @apply flex items-center gap-5 text-xs font-medium;

      li {
        @apply hover:underline cursor-pointer transition-transform;
      }
    }

    time {
      @apply text-sm font-semibold;
    }
  }
}

.project::-webkit-scrollbar {
  width: 5px;
  background-color: #1e1e1e;
}

.project::-webkit-scrollbar-thumb {
  background-color: black;
}

footer p::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -10px;
  margin-inline: auto;

  width: 0;
  height: 0;

  @apply border-l-10 border-r-10 border-t-10 border-l-transparent border-r-transparent border-t-white/20;
}

footer li:hover p {
  @apply block opacity-100;
}
